.inline {
  display: inline-block;
}
.center{
  color: white;
  text-align: center;
}
.right{
  color: white;
  text-align: right;
}
.left{
  color: white;
  text-align: left;
}
.border{
  background-color: black;
}
.line{
  border-bottom: solid grey 1px;
}
.border2{
  border: solid gray 1px;
}
.border3{
  background-color: lightgray;
  border: solid gray 1px;
}
.border4{
  background-color: green;
  border: solid gray 1px;
}